h1{
    background-color: black;
    border: 2px solid white;
    color: white;
    font-size: 80px;
    justify-content: center;
    display: flex;
    margin-bottom: 0px;
}
body{
    background-color: gray;
}
#innerBox{
    justify-content: center;
    display: flex;
    background-color: blue;
    height: 400px;
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 1000px;
}
#outerBox{
    display: flex;
    justify-content: center;
}